{% extends "includes/base.html" %}
{% load crispy_forms_tags %}
{% block content %}
<div class="container">
    <div class="row">
        <div class="col-md-8">
            {% if request.GET.m == "s" %}
            <h3>Password reset link is send to your email address. Please check your email.</h3>
            {% else %}

            <h2>Enter the email address use while make account</h2>
            {% if request.GET.m == "e" %}
            <h4 class="text-danger">Something went wrong, please enter your email again</h4>
            {% endif %}
            <form action="" method="post">
                {% csrf_token %}
                {{form | crispy}}
                <button class="btn btn-info">Get Link</button>
            </form>
            {% endif %}

    </div>
</div>

</div>


{% endblock %}
