{% extends 'includes/base.html' %}

{% block title %}{% endblock %}
{% block content %}
<div class="container">
    <div class="row">
    <div class="col-md-12">
        <h3>Search result for <span class="text-info">"{{request.GET.keyword}}"</span></h3>
        <hr>
        {% for result in results %}
        <div class="row">
            <div class="col-md-4">
                <img src="{{result.image.url}}" class="img-fluid" alt="">
            </div>

            <div class="col-md-8">
                <h4><a href="{% url 'ecomapp:product-details' result.slug  %}">{{result.title}}</a></h4>
                <h5>Price: <strike>Rs. {{result.market_price}}</strike> Rs.{{result.selling_price}}</h5>
                <p>{{result.description|truncatewords:50}}</p>
                <a href="{% url 'ecomapp:addtocart' result.id %}" class="btn btn-info">Add To Cart</a>
            </div>
        </div>


        {% endfor %}

    </div>

    </div>
</div>

{% endblock %}