{% extends 'adminpages/adminbase.html' %}
{% block content %}

<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h3>All Product List</h3>
            <a href="{% url 'ecomapp:adminproductcreate' %}">Add new Product</a>
            <table class="table table-striped">
                <thead>
                <tr>
                    <th>SN</th>
                    <th>Product Title</th>
                    <th>Image</th>
                    <th>Price</th>
                    <th>Views</th>

                </tr>

                </thead>
                <tbody>
                    {% for p in allproduct %}
                        <tr>
                            <td>{{forloop.counter}}</td>
                            <td>{{p.title}}</td>
                            <td><img src="{{p.image.url}}" style="height:65px;" alt=""> </td>
                            <td>{{p.selling_price}}</td>
                            <td>{{p.view_count}}</td>



                        </tr>

                    {% endfor %}

                </tbody>

            </table>



        </div>


    </div>


</div>


{% endblock %}